{
  "swagger": "2.0",
  "info": {
    "title": "BabiesRus API Documentation",
    "description": " REST API for BabiesRus.",
    "version": "1.0.0",
    "path" : "magento2api.com"
  },
  "host": "magento2api.com",
  "schemes": [
    "http"
  ],
  "paths": {
    "/rest/default/V1/integration/customer/token": {
      "post": {
        "summary": "Get customer token",
        "description": "Get customer token. Please register if not before generating token or use <b>roni_cost@example.com</b> as username and password.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "User email",
            "required": true,
            "type": "integer"
          },
          {
            "name": "password",
            "in": "query",
            "description": "Password",
            "required": true,
            "type": "integer"
          }
        ],
        "tags": [
          "Customer"
        ],
        "responses": {
          "200": {
            "description": "Get all products",
            "schema": {
              "$ref": "#/definitions/token"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Get customer token",
            "schema": {
              "$ref": "#/definitions/token"
            }
          }
        }
      }
    },
    "/rest/V1/products": {
      "get": {
        "summary": "Retrieve products acording to the specified parameter",
        "description": "Retrieve products acording to the specified parameter.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "searchCriteria[pageSize]",
            "in": "query",
            "description": "No of items per page",
            "required": true,
            "type": "integer"
          },
          {
            "name": "searchCriteria[currentPage]",
            "in": "query",
            "description": "Current page no",
            "required": true,
            "type": "integer"
          },
          {
            "name": "searchCriteria[filterGroups][0][filters][0][field]",
            "in": "query",
            "description": "attribute name",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchCriteria[filterGroups][0][filters][0][value]",
            "in": "query",
            "description": "value",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchCriteria[filterGroups][0][filters][0][conditionType]",
            "in": "query",
            "description": "value like eq, in, gt etc",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "Get all products",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Get all products",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      }
    },
    "/rest/V1/categories": {
      "get": {
        "summary": "Retrieve all categories of the Store.",
        "description": "Retrieve all categories of the Store.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],

        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "Get all products",
            "schema": {
              "$ref": "#/definitions/categories"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Get all  categories of the Store.",
            "schema": {
              "$ref": "#/definitions/categories"
            }
          }
        }
      }
    },
    "/rest/V1/registry/create": {
      "post": {
        "summary": "Create Registry for the customer.",
        "description": "Create Registry for the customer.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "token of the customer",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Registry"
        ],
        "responses": {
          "200": {
            "description": "Registry id",
            "schema": {
              "$ref": "#/definitions/registryres"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Registry id",
            "schema": {
              "$ref": "#/definitions/registryres"
            }
          }
        }
      }
    },
    "/rest/V1/registry/edit": {
      "post": {
        "summary": "Edit the registry of the specified customer.",
        "description": "Edit the registry of the specified customer.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "token of the customer",
            "required": true,
            "type": "string"
          },
          {
            "name": "Registry ID",
            "in": "query",
            "description": "Registry id want to edit",
            "required": true,
            "type": "integer"
          }
        ],
        "tags": [
          "Registry"
        ],
        "responses": {
          "200": {
            "description": "Registry id",
            "schema": {
              "$ref": "#/definitions/editregistry"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "success status",
            "schema": {
              "$ref": "#/definitions/editregistry"
            }
          }
        }
      }
    },
    "/rest/V1/registry/delete": {
      "delete": {
        "summary": "Delete the registry of the specified customer.",
        "description": "Delete the registry of the specified customer.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "token of the customer",
            "required": true,
            "type": "string"
          },
          {
            "name": "Registry ID",
            "in": "query",
            "description": "Registry id want to edit",
            "required": true,
            "type": "integer"
          }
        ],
        "tags": [
          "Registry"
        ],
        "responses": {
          "200": {
            "description": "Registry id",
            "schema": {
              "$ref": "#/definitions/editregistry"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "success status",
            "schema": {
              "$ref": "#/definitions/editregistry"
            }
          }
        }
      }
    },
    "/rest/V1/registry/items": {
      "get": {
        "summary": "Get the list of item of registry.",
        "description": "Get the list of item of registry.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "token of the customer",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Registry Item"
        ],
        "responses": {
          "200": {
            "description": "Registry id",
            "schema": {
              "$ref": "#/definitions/registryitems"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Registry id",
            "schema": {
              "$ref": "#/definitions/registryitems"
            }
          }
        }
      }
    },
    "/rest/V1/registry/item/add/": {
      "post": {
        "summary": "Add item to the registry.",
        "description": "Add item to the registry.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "token of the customer",
            "required": true,
            "type": "string"
          },
          {
            "name": "items",
            "in": "body",
            "description": "items want to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "tags": [
          "Registry Item"
        ],
        "responses": {
          "200": {
            "description": "Status",
            "schema": {
              "$ref": "#/definitions/editregistry"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Status",
            "schema": {
              "$ref": "#/definitions/editregistry"
            }
          }
        }
      }
    },
    "/rest/V1/registry/item/delete/{product_id}": {
      "delete": {
        "summary": "Delete item from registry.",
        "description": "Delete item from registry.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "token of the customer",
            "required": true,
            "type": "string"
          },
          {
            "name": "product_id",
            "in": "path",
            "description": "id of item want to delete",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "tags": [
          "Registry Item"
        ],
        "responses": {
          "200": {
            "description": "Status",
            "schema": {
              "$ref": "#/definitions/editregistry"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Status",
            "schema": {
              "$ref": "#/definitions/editregistry"
            }
          }
        }
      }
    },
    "/rest/V1/registry/stores": {
      "get": {
        "summary": "List all the registry stores.",
        "description": "List all the registry stores",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "provience",
            "in": "query",
            "description": "add provience to filter the serch criteria",
            "required": false ,
            "type": "string"
          }
        ],
        "tags": [
          "Search"
        ],
        "responses": {
          "200": {
            "description": "Status",
            "schema": {
              "$ref": "#/definitions/storelist"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Status",
            "schema": {
              "$ref": "#/definitions/storelist"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "categories": {
      "type": "object",
      "required": [
        "id",
        "parent_id",
        "name",
        "is_active",
        "position",
        "level",
        "product_count",
        "children_data"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "parent_id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "position": {
          "type": "integer"
        },
        "level": {
          "type": "integer"
        },
        "product_count": {
          "type": "integer"
        },

        "added_at": {
          "type": "date-time"
        },
        "children_data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Child_categories"
          }
        }
      }
    },
    "token" : {
      "required": [
        "username",
        "password"
      ],
      "properties" : {
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "registryres": {
      "required": [
        "registry_id"
      ],
      "properties": {
        "registry_id": {
          "type": "integer"
        }
      }
    },
    "registryitems": {
      "required": [
        "registry_id",
        "registry_items"
      ],
      "properties": {
        "registry_id": {
          "type": "integer"
        },
        "registry_items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          }
        }
      }
    },
    "storelist": {
      "required": [
        "store_id",
        "store_name",
        "store_phone",
        "store_address"
      ],
      "properties": {
        "store_id": {
          "type": "integer"
        },
        "store_name": {
          "type": "string"
        },
        "store_phone": {
          "type": "integer"
        },
        "store_address": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/storeaddress"
          }
        }
      }
    },
    "Product": {
      "required": [
        "entity_id",
        "attribute_set_id",
        "type_id",
        "sku",
        "has_options",
        "required_options",
        "created_at",
        "updated_at",
        "price",
        "tax_class_id",
        "final_price",
        "minimal_price",
        "min_price",
        "max_price",
        "tier_price",
        "name",
        "small_image",
        "thumbnail",
        "visibility",
        "request_path"
      ],
      "properties": {
        "entity_id": {
          "type": "integer"
        },
        "attribute_set_id": {
          "type": "integer"
        },
        "type_id": {
          "type": "integer"
        },
        "sku": {
          "type": "string"
        },
        "has_options": {
          "type": "integer"
        },
        "required_options": {
          "type": "integer"
        },
        "created_at": {
          "type": "date-time"
        },
        "updated_at": {
          "type": "date-time"
        },
        "price": {
          "type": "double"
        },
        "tax_class_id": {
          "type": "integer"
        },
        "final_price": {
          "type": "double"
        },
        "minimal_price": {
          "type": "double"
        },
        "min_price": {
          "type": "double"
        },
        "max_price": {
          "type": "double"
        },
        "tier_price": {
          "type": "double"
        },
        "name": {
          "type": "string"
        },
        "small_image": {
          "type": "integer"
        },
        "thumbnail": {
          "type": "integer"
        },
        "visibility": {
          "type": "integer"
        },
        "request_path": {
          "type": "string"
        }
      }
    },
    "editregistry": {
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "type": "boolean"
        }
      }
    },
    "additem": {
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "type": "boolean"
        }
      }
    },
    "deleteitem": {
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "type": "boolean"
        }
      }
    },
    "Child_categories": {
      "type": "object",
      "required": [
        "id",
        "parent_id",
        "name",
        "is_active",
        "position",
        "level",
        "product_count",
        "children_data"
      ],
      "properties": {
        "id": {
          "type": "integer"
        },
        "parent_id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "position": {
          "type": "integer"
        },
        "level": {
          "type": "integer"
        },
        "product_count": {
          "type": "integer"
        },

        "added_at": {
          "type": "date-time"
        },
        "children_data": {
          "type": "array",
          "items": []

        }
      }
    },
    "storeaddress": {
      "type": "object",
      "required": [
        "street",
        "city",
        "postal_code"
      ],
      "properties": {
        "street": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "postal_code": {
          "type": "integer"
        }
      }
    }
  }
}


