{
  "swagger": "2.0",
  "info": {
    "title": "Social API",
    "description": "Social API for socialengine.",
    "version": "1.0.0"
  },
  "host": "mi.costarica.com",
  "schemes": [
    "http"
  ],
  "paths": {
    "/socialapi/auth/post/login": {
      "post": {
        "summary": "Login",
        "description": "Send a login request to the server. The request contains user's name or email address and password.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "Email address or username.",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "Password of your account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Successfully logged in",
            "schema": {
              "$ref": "#/definitions/AuthLogin"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Successfully logged in",
            "schema": {
              "$ref": "#/definitions/AuthLogin"
            }
          }
        }
      }
    },
    "/socialapi/auth/post/signup": {
      "post": {
        "summary": "Signup",
        "description": "Send a signup request to the server . The request contains username, email address, profile address, profile type and password. Successfull request create new user at server.",
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "Email address.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "Password of your account.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "profileAddress",
            "in": "formData",
            "description": "Profile Address of the account.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "profileType",
            "in": "formData",
            "description": "Profile Type of the account.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "profileFields['1_2_3']",
            "in": "formData",
            "description": "Profile Fields First Name of the account.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "profileFields['1_2_4']",
            "in": "formData",
            "description": "Profile Fields Last Name of the account.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "profileFields['1_2_5']",
            "in": "formData",
            "description": "Profile Fields Gender of the account. 2 for Male and 3 for Female",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "profileFields['1_2_13']",
            "in": "formData",
            "description": "Profile Fields About us of the account.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "User account has been created successfully",
            "schema": {
              "$ref": "#/definitions/AuthSignup"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Successfully logged in",
            "schema": {
              "$ref": "#/definitions/AuthSignup"
            }
          }
        }
      }
    },
    "/socialapi/auth/post/mobileotp": {
      "post": {
        "summary": "Mobile Signup",
        "description": "Send an OTP to given Mobile Number. The request contains mobile no of the user.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mobileno",
            "in": "formData",
            "description": "Mobile No. eg. +919876543210",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "formData",
            "description": "device id of the phone",
            "required": false,
            "type": "string",
            "format": "text"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "OTP sent successfull",
            "schema": {
              "$ref": "#/definitions/AuthLogin"
            }
          },
          "400": {
            "description": "Mobile number not valid number"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "404": {
            "description": "OTP sent failed"
          }
        }
      }
    },
    "/socialapi/auth/post/mobilesignup": {
      "post": {
        "summary": "Mobile Signup",
        "description": "Send a Mobile Signup after verification request to the server. The request contains mobile no and otp sent to that mobile no of the user.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mobileno",
            "in": "formData",
            "description": "Mobile No. eg. +919876543210",
            "required": true,
            "type": "string"
          },
          {
            "name": "otp",
            "in": "formData",
            "description": "Enter OTP",
            "required": true,
            "type": "number"
          },
          {
            "name": "deviceId",
            "in": "formData",
            "description": "device id of the phone",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "deviceType",
            "in": "formData",
            "description": "device type of the phone. e.g. ios or anodroid",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Signup successfull",
            "schema": {
              "$ref": "#/definitions/AuthLogin"
            }
          },
          "400": {
            "description": "Data missmatch"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/socialapi/auth/post/mobilelogin": {
      "post": {
        "summary": "Mobile Login",
        "description": "Send a Mobile Login request. The request contains mobile no and otp sent to that mobile no of the user.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mobileno",
            "in": "formData",
            "description": "Mobile No.",
            "required": true,
            "type": "string"
          },
          {
            "name": "otp",
            "in": "formData",
            "description": "Enter OTP",
            "required": true,
            "type": "number"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Login successfull",
            "schema": {
              "$ref": "#/definitions/AuthLogin"
            }
          },
          "400": {
            "description": "Data missmatch"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/socialapi/auth/post/facebook": {
      "post": {
        "summary": "Facebook Check",
        "description": "Request to check whether user exist with given facebook uid. If user exist, it return status true, message 'User account already sync with given uid' and user basic info(userId, username). If there is no sync found it re return status false, message 'No user account sync with given uid'.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "facebook_uid",
            "in": "formData",
            "description": "uuid for facebook account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "email address of facebook account.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "header",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Facebook account already sync with system user.",
            "schema": {
              "$ref": "#/definitions/AuthFacebook"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Successfully logged in",
            "schema": {
              "$ref": "#/definitions/AuthFacebook"
            }
          }
        }
      }
    },
    "/socialapi/auth/post/facebooksync": {
      "post": {
        "summary": "Facebook Sync",
        "description": "Request to sync facebook info with user. If user sync with twitter account successfully, it will return status true, message 'User account sync with social information' and user basic info (email,userId,username).If it fails during sync, it will return status false, message 'User not sync with social information'",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "facebook_uid",
            "in": "formData",
            "description": "uid for facebook account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "formData",
            "description": "user id of user account.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "header",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Successfully sync user with facebook account.",
            "schema": {
              "$ref": "#/definitions/AuthFacebookSync"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Successfully sync user with facebook account.",
            "schema": {
              "$ref": "#/definitions/AuthFacebookSync"
            }
          }
        }
      }
    },
    "/socialapi/auth/post/facebooksignup": {
      "post": {
        "summary": "Facebook Signup",
        "description": "Send a request to signup with facebook account. New user has been added to the system and sync with given facebook uid. It returns as status true, message 'Signup successfully completed' with basic user info (username,email,userId,thumbnail).",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "facebook_uid",
            "in": "formData",
            "description": "uuid for facebook account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "user id of user account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "formData",
            "description": "username of user account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "photo",
            "in": "formData",
            "description": "photo data in base 64 format.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "header",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Successfully signup  user with facebook account.",
            "schema": {
              "$ref": "#/definitions/AuthFacebookSignup"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Successfully sync user with facebook account.",
            "schema": {
              "$ref": "#/definitions/AuthFacebookSignup"
            }
          }
        }
      }
    },
    "/socialapi/auth/post/twitter": {
      "post": {
        "summary": "Twitter Login",
        "description": "Request to check twitter account info in the system. If user exist, it return status true, message 'User account already sync with given uid' and user basic info(userId, username). If there is no sync found it return status false, message 'No user account sync with given uid'.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "twitter_uid",
            "in": "formData",
            "description": "uid for twitter account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "twitter_token",
            "in": "formData",
            "description": "token for twitter account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "twitter_secret",
            "in": "formData",
            "description": "secret key for twitter account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "email address of twiiter account.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "header",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Twitter account already sync with system user.",
            "schema": {
              "$ref": "#/definitions/AuthTwitter"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Twitter account already sync with system user.",
            "schema": {
              "$ref": "#/definitions/AuthTwitter"
            }
          }
        }
      }
    },
    "/socialapi/auth/post/twittersync": {
      "post": {
        "summary": "Twitter Sync",
        "description": "Request to sync twitter info with user. If user sync with twitter account successfully, it will return status true, message 'User account sync with social information' and user basic info (email,userId,username).If it fails during sync, it will return status false, message 'User not sync with social information'",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "twitter_uid",
            "in": "formData",
            "description": "uid for twitter account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "twitter_token",
            "in": "formData",
            "description": "token for twitter account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "twitter_secret",
            "in": "formData",
            "description": "secret key for twitter account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "formData",
            "description": "user id of user account.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "header",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Twitter account sync with system user.",
            "schema": {
              "$ref": "#/definitions/AuthTwitterSync"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Twitter account sync with system user.",
            "schema": {
              "$ref": "#/definitions/AuthTwitterSync"
            }
          }
        }
      }
    },
    "/socialapi/auth/post/twittersignup": {
      "post": {
        "summary": "Twiiter Signup",
        "description": "Send a request to signup with twitter account. New user has been added to the system and sync with given twitter uid. It returns as status true, message 'Signup successfully completed' with basic user info (username,email,userId,thumbnail).",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "twitter_uid",
            "in": "formData",
            "description": "uid for twitter account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "twitter_token",
            "in": "formData",
            "description": "token for twitter account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "twitter_secret",
            "in": "formData",
            "description": "secret key for twitter account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "user id of user account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "formData",
            "description": "username of user account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "photo",
            "in": "formData",
            "description": "photo data in base 64 format.",
            "required": false,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "header",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Successfully signup.",
            "schema": {
              "$ref": "#/definitions/AuthTwitterSignup"
            }
          },
          "400": {
            "description": "Invalid authentication supplied"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Successfully signup.",
            "schema": {
              "$ref": "#/definitions/AuthTwitterSignup"
            }
          }
        }
      }
    },
    "/socialapi/auth/get/logout": {
      "get": {
        "summary": "Logged out",
        "description": "Send a logeed out request to the server. User will be logged out from the system.",
        "parameters": [
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Logout Sucessfully.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Logout Sucessfully.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/auth/get/checkEmail": {
      "get": {
        "summary": "checkEmail",
        "description": "create a check email request to server. Server check whether email exist or not in database. It will return true if email is fine.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Email address.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Email is fine!!",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Email is fine!!",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/auth/get/forgetPassword": {
      "get": {
        "summary": "forgetPassword",
        "description": "create a forget password request to server. Take email from client and submit request to server. Server will check email address is exist or not. If email exist in the system, it will send an email with instruction to proceed password recovery.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Email address.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "You have been sent an email with instructions how to reset your password. If the email does not arrive within several minutes, be sure to check your spam or junk mail folders.",
            "schema": {
              "$ref": "#/definitions/ForgotPassword"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "You have been sent an email with instructions how to reset your password. If the email does not arrive within several minutes, be sure to check your spam or junk mail folders.",
            "schema": {
              "$ref": "#/definitions/ForgotPassword"
            }
          }
        }
      }
    },
    "/socialapi/auth/get/profileAddress": {
      "get": {
        "summary": "profileAddress",
        "description": "Check whether profile address exit in the system or not. Return true if does not exist and false if exist.",
        "parameters": [
          {
            "name": "profileAddress",
            "in": "query",
            "description": "profile address.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "You can choose this profile address.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "You can choose this profile address.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/auth/get/profileTypes": {
      "get": {
        "summary": "profileTypes",
        "description": "List all profile types available in the system. User hsa to select profile type at the time of signup.",
        "parameters": [
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "You can choose this profile address.",
            "schema": {
              "$ref": "#/definitions/AuthProfileTypes"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "You can choose this profile address.",
            "schema": {
              "$ref": "#/definitions/AuthProfileTypes"
            }
          }
        }
      }
    },
    "/socialapi/auth/get/profileFields": {
      "get": {
        "summary": "profileFields",
        "description": "Returns profile fileds neccessary for signup process e.g. first name, last name or birthdate etc.",
        "parameters": [
          {
            "name": "profileType",
            "in": "query",
            "description": "Profile Fields.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "You can choose this profile address.",
            "schema": {
              "$ref": "#/definitions/AuthProfileFields"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "You can choose this profile address.",
            "schema": {
              "$ref": "#/definitions/AuthProfileFields"
            }
          }
        }
      }
    },
    "/socialapi/auth/get/defaultPhoto": {
      "get": {
        "summary": "defaultPhoto",
        "description": "It will return default photos available for user profile. User has to select profile photo at the time of signup.",
        "parameters": [
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Default user photo",
            "schema": {
              "$ref": "#/definitions/DefaultPhoto"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Default user photo",
            "schema": {
              "$ref": "#/definitions/DefaultPhoto"
            }
          }
        }
      }
    },
    "/socialapi/blogs/get/form": {
      "get": {
        "summary": "form",
        "description": "Request for blog form parameters. Send post request and return form parameters available for blog.",
        "parameters": [
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Show form parameters available for blog.",
            "schema": {
              "$ref": "#/definitions/BlogGetForm"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Show form parameters available for blog.",
            "schema": {
              "$ref": "#/definitions/BlogGetForm"
            }
          }
        }
      }
    },
    "/socialapi/blogs/get/categories": {
      "get": {
        "summary": "categories",
        "description": "Request for all available blogs categories list. Send post request and return categories available for events.",
        "parameters": [
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Show list of categories available for blog.",
            "schema": {
              "$ref": "#/definitions/GroupGetCategory"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Show list of categories available for blog.",
            "schema": {
              "$ref": "#/definitions/GroupGetCategory"
            }
          }
        }
      }
    },
    "/socialapi/blogs/get/list": {
      "get": {
        "summary": "list",
        "description": "Request for all blogs list. Send post request with user id and return blog list specific to user id.",
        "parameters": [
          {
            "name": "subjectType",
            "in": "query",
            "description": "To show the user blogs.",
            "required": false,
            "type": "string",
            "format": "text"
          },
          {
            "name": "subjectId",
            "in": "query",
            "description": "user id of the user which you want to show the blog and also add subject parameter.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "search",
            "in": "query",
            "description": "search the blog name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Category id of the blogs which you want to see the list",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Show list of blogs",
            "schema": {
              "$ref": "#/definitions/BlogGetList"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Show list of blogs",
            "schema": {
              "$ref": "#/definitions/BlogGetList"
            }
          }
        }
      }
    },
    "/socialapi/blogs/get/detail": {
      "get": {
        "summary": "detail",
        "description": "Request for blog's detail information. Send post request with blog id and return blog detailed information.",
        "parameters": [
          {
            "name": "blogId",
            "in": "query",
            "description": "blog id of blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Show detail of requested blog.",
            "schema": {
              "$ref": "#/definitions/BlogGetDetail"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Show detail of requested blog.",
            "schema": {
              "$ref": "#/definitions/BlogGetDetail"
            }
          }
        }
      }
    },
    "/socialapi/blogs/get/comments": {
      "get": {
        "summary": "comments",
        "description": "Request for blog's content. Send post request with blog id and return blog comments.",
        "parameters": [
          {
            "name": "objectId",
            "in": "query",
            "description": "blog id of blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "objectType",
            "in": "query",
            "description": "object type is blog.",
            "required": true,
            "type": "string"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Show the blogs comments"
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/socialapi/blogs/post/blog": {
      "post": {
        "summary": "createBlog",
        "description": "Create a request to add new blog to server. Send post request with blog parameters. Add new blog to server database.",
        "parameters": [
          {
            "name": "title",
            "in": "formData",
            "description": "Title for the blog.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "tags",
            "in": "formData",
            "description": "Tags for tags.Please provide tags as string.e.g: test,test1",
            "required": false,
            "type": "string",
            "format": "text"
          },
          {
            "name": "body",
            "in": "formData",
            "description": "Body of the blog.Please also provide the html.If you are using Html. ",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "category_id",
            "in": "formData",
            "description": "category id for the group.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "search",
            "in": "formData",
            "description": "Search settings for blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "draft",
            "in": "formData",
            "description": "Set 0 if you want to publish the blog and 1 if you want to dreaft the blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "auth_view",
            "in": "formData",
            "description": "auth view settings for the blog",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "auth_comment",
            "in": "formData",
            "description": "auth comment setting for the blog.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Create a new blog on server.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Create a new blog on server..",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/blogs/post/comment": {
      "post": {
        "summary": "postComment",
        "description": "Create a request to add a comment.",
        "parameters": [
          {
            "name": "objectId",
            "in": "formData",
            "description": "Blog id of the blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "body",
            "in": "formData",
            "description": "body of the blog.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Create a new blog on server.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Create a new blog on server..",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/blogs/post/like": {
      "post": {
        "summary": "postlike",
        "description": "Create a request to add a like/unlike on blog.",
        "parameters": [
          {
            "name": "objectId",
            "in": "formData",
            "description": "Blog id of the blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "like",
            "in": "formData",
            "description": "like is true or false.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Create a new blog on server.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Create a new blog on server..",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/blogs/post/commentLike": {
      "post": {
        "summary": "postCommentLike",
        "description": "Create a request to add a like/unlike on blog.",
        "parameters": [
          {
            "name": "commentId",
            "in": "formData",
            "description": "comment id of the comment.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "like",
            "in": "formData",
            "description": "like is true or false.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Create a new blog on server.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Create a new blog on server..",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/blogs/put/blog": {
      "put": {
        "summary": "editBlog",
        "description": "Create a request to edit new blog to server. Send put request with blog parameters.",
        "parameters": [
          {
            "name": "blogId",
            "in": "formData",
            "description": "Blog id of the blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "title",
            "in": "formData",
            "description": "Title for the blog.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "tags",
            "in": "formData",
            "description": "Tags for tags.Please provide tags as string.e.g: test,test1",
            "required": false,
            "type": "string",
            "format": "text"
          },
          {
            "name": "body",
            "in": "formData",
            "description": "Body of the blog.Please also provide the html.If you are using Html. ",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "category_id",
            "in": "formData",
            "description": "category id for the group.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "search",
            "in": "formData",
            "description": "Search settings for blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "draft",
            "in": "formData",
            "description": "Set 0 if you want to publish the blog and 1 if you want to dreaft the blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "auth_view",
            "in": "formData",
            "description": "auth view settings for the blog",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "auth_comment",
            "in": "formData",
            "description": "auth comment setting for the blog.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Edit blog details at server.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Edit blog details at server.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/blogs/delete/blog": {
      "delete": {
        "summary": "deleteBlog",
        "description": "Create a request to remove blog from server.",
        "parameters": [
          {
            "name": "blogId",
            "in": "query",
            "description": "blog id of the blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Delete blog from server.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Delete blog from server.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/blogs/delete/comment": {
      "delete": {
        "summary": "deleteComment",
        "description": "Create a request to remove comment from blog from server.",
        "parameters": [
          {
            "name": "objectId",
            "in": "query",
            "description": "comment id of the blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "blogId",
            "in": "query",
            "description": "blog id of the blog.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Blog"
        ],
        "responses": {
          "200": {
            "description": "Delete blog's comment from server.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Delete blog's comment from server.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/forum/get/forums": {
      "get": {
        "summary": "list of Forum",
        "description": "Request for all forums list. Send get request and return forum list.",
        "parameters": [
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Show list of forums",
            "schema": {
              "$ref": "#/definitions/ForumGetList"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Show list of forums",
            "schema": {
              "$ref": "#/definitions/ForumGetList"
            }
          }
        }
      }
    },
    "/socialapi/forum/get/topics": {
      "get": {
        "summary": "list of Topic",
        "description": "Request for all topics list of a particular forum. Send get request and return forum list.",
        "parameters": [
          {
            "name": "forumId",
            "in": "query",
            "description": "forum id of the forum.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Show list of forum topics",
            "schema": {
              "$ref": "#/definitions/ForumGetTopics"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Show list of forum topics",
            "schema": {
              "$ref": "#/definitions/ForumGetTopics"
            }
          }
        }
      }
    },
    "/socialapi/forum/get/posts": {
      "get": {
        "summary": "list of posts",
        "description": "Request for all posts list of a particular possts. Send get request and return forum list.",
        "parameters": [
          {
            "name": "forumId",
            "in": "query",
            "description": "forum id of the forum.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "topicId",
            "in": "query",
            "description": "topic id of the topic.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Show list of topic posts",
            "schema": {
              "$ref": "#/definitions/ForumPosts"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Show list of topic posts",
            "schema": {
              "$ref": "#/definitions/ForumPosts"
            }
          }
        }
      }
    },
    "/socialapi/forum/post/topic": {
      "post": {
        "summary": "createTopic",
        "description": "Create a request to add new topic to the forum on server. Send post request with topic parameters.",
        "parameters": [
          {
            "name": "forumId",
            "in": "query",
            "description": "forum id of the forum.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "title",
            "in": "formData",
            "description": "Title for the forum.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "body",
            "in": "formData",
            "description": "Body of the blog.Please also provide the html.If you are using Html. ",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "watch",
            "in": "formData",
            "description": "watch is set to 1 if you want to follow the topic and add 0 if no",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Created a forum topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Created a forum topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/forum/post/post": {
      "post": {
        "summary": "createTopic",
        "description": "Create a request to add new post to the topic on server. Send post request with post parameters.",
        "parameters": [
          {
            "name": "topicId",
            "in": "query",
            "description": "forum id of the forum.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "body",
            "in": "formData",
            "description": "Body of the blog.Please also provide the html.If you are using Html. ",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "watch",
            "in": "formData",
            "description": "watch is set to 1 if you want to follow the topic and add 0 if no",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Created a topic post.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Created a topic post.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/forum/put/topic": {
      "put": {
        "summary": "editTopic",
        "description": "Create a request to edit topic to the forum on server. Send put request with topic parameters.",
        "parameters": [
          {
            "name": "forumId",
            "in": "query",
            "description": "forum id of the forum.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "topicId",
            "in": "query",
            "description": "topic id of the forum.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "title",
            "in": "formData",
            "description": "Title for the forum.",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "body",
            "in": "formData",
            "description": "Body of the blog.Please also provide the html.If you are using Html. ",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "watch",
            "in": "formData",
            "description": "watch is set to 1 if you want to follow the topic and add 0 if no",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Edited a forum topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Edited a forum topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/forum/put/post": {
      "put": {
        "summary": "editPost",
        "description": "Create a request to edit post to the topic on server. Send post request with post parameters.",
        "parameters": [
          {
            "name": "topicId",
            "in": "query",
            "description": "forum id of the forum.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "postId",
            "in": "query",
            "description": "post id of the post.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "body",
            "in": "formData",
            "description": "Body of the blog.Please also provide the html.If you are using Html. ",
            "required": true,
            "type": "string",
            "format": "text"
          },
          {
            "name": "watch",
            "in": "formData",
            "description": "watch is set to 1 if you want to follow the topic and add 0 if no",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Edited a topic post.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Edited a topic post.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/forum/put/close": {
      "put": {
        "summary": "editClose",
        "description": "Create a request to close/open the topic on server. Send post request with post parameters.",
        "parameters": [
          {
            "name": "topicId",
            "in": "query",
            "description": "forum id of the forum.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "close",
            "in": "query",
            "description": "close set to 1 if you want to close the topic and 0 if you want to open.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Closed/Open the topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Closed/Open the topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/forum/put/sticky": {
      "put": {
        "summary": "stickyTopic",
        "description": "Create a request to make and remove sticky the topic on server. Send post request with post parameters.",
        "parameters": [
          {
            "name": "topicId",
            "in": "query",
            "description": "forum id of the forum.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "sticky",
            "in": "query",
            "description": "sticky set to 1 if you want to make the topic stricky and 0 if you want to remove.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Make and remove the topic sticky.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Make and removed the topic sticky.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/forum/put/watch": {
      "put": {
        "summary": "watchTopic",
        "description": "Create a request to start and stop watching the topic on server.",
        "parameters": [
          {
            "name": "topicId",
            "in": "query",
            "description": "forum id of the forum.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "watch",
            "in": "query",
            "description": "watch set to 1 if you want to start watching topic  and 0 if you want to stop watching.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Stop and start watching the topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Stop and start watching the topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/forum/delete/topic": {
      "delete": {
        "summary": "deleteTopic",
        "description": "Create a request to remove topic from server.",
        "parameters": [
          {
            "name": "topicId",
            "in": "query",
            "description": "topic id of the topic.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Delete the topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Delete the topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/forum/delete/post": {
      "delete": {
        "summary": "deletePost",
        "description": "Create a request to remove post from server.",
        "parameters": [
          {
            "name": "postId",
            "in": "query",
            "description": "post id of the topic.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "Delete the post from topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          },
          "default": {
            "description": "Delete the post from topic.",
            "schema": {
              "$ref": "#/definitions/PutDefination"
            }
          }
        }
      }
    },
    "/socialapi/member/get/profile": {
      "get": {
        "summary": "Profile",
        "description": "Send request for profile information of the user. Return user profile information based on the unique identifier.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "UserId of the user.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Profile"
        ],
        "responses": {
          "200": {
            "description": "Get user profile information based on the unique identifier.",
            "schema": {
              "$ref": "#/definitions/UserProfileGetProfile"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/socialapi/member/get/userinfo": {
      "get": {
        "summary": "User Info",
        "description": "Send request for profile information of the user. Return user profile information based on the unique identifier.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "UserId of the user.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "PHPSESSID",
            "in": "header",
            "description": "session id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "api key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "secretKey",
            "in": "query",
            "description": "secret key of the Api.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version key of the Api.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "User Profile"
        ],
        "responses": {
          "200": {
            "description": "Get user profile information based on the unique identifier.",
            "schema": {
              "$ref": "#/definitions/UserProfileGetProfile"
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "405": {
            "description": "Method not supported"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/socialapi/member/get/mobileinfo": {
      "get": {
        "summary": "User Mobile Info",
[...]
